
[href~="www.odoo.com"] {
	display: none !important;
}

.total_freight_to_box{
	margin-bottom: -130px !important;
}

.total_freight_to_box input{
	height:125px !important;
}

.golden13_SO_Total {
	padding-left: 30px !important;
}

.golden13_hidden_table {
	border-bottom:0px !important;
}

.golden13_hidden_table th, .golden13_hidden_table td{
		border: 0px !important;
}

/*.fixed-table-container {
    border:0px !important;
}*/



